# Ignore Terraform state files and directories
terraform.tfstate
terraform.tfstate.backup
*.tfstate.*
.terraform/

# Ignore key pairs
new-key-ec2-demo
new-key-ec2-demo.pub
*.pem

# Ignore VS Code settings (optional)
.vscode/

# Miscellaneous OS/editor files
*.log
.DS_Store
Thumbs.db
